
@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

body {
    font-family:'Macondo', cursive;
    background-color: darkseagreen;
    text-align: center;
}
header {
    width: 100%;
    height: 80vh;
    background-image: url('../imagenes/arbol1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-size: 40px;

}
